* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 90vw;
  height: 50vw;
  background-color: aquamarine;
  margin: 5vh auto;

  display: flex;
  justify-content: center; /* Горизонтальное выравнивание */
  align-items: center;
}

.table-mondrian {
  border-spacing: 0px;
  width: calc(90vw - 10%);;
}

.table-mondarin-element {
  border: 4px solid black;
  height: 60px;
}

.white {
  background-color: white;
}
.red {
  background-color: #d40920;
}
.blue {
  background-color: #013ca6;
}
.yellow {
  background-color: #f6d200;
}
.black {
  background-color: black;
}

.width-last-colomn
{
    width: calc(100% / 5.4722);
}
